.Logo {
	display: flex;
	align-items: center;
}

.Logo__rectangle {
	height: 56px;
	width: 42px;
	background: var(--brand-orange);
	z-index: 0;
}

.Logo__image {
	z-index: 10;
	margin-left: -25%;
	height: 40px;
	width: 40px;
}
